$heading-color: rgba(0, 0, 0, 0.85);
$text-color: rgba(0, 0, 0, 0.75);
$text-color-secondary: rgba(0, 0, 0, 0.5);
$disabled-color: rgba(0, 0, 0, 0.35);
// $dividers:;
$background-color: rgba(235, 238, 243, 1);
// $table-header:;
// $primary-color:;
$info-color: rgba(24, 144, 255, 1);
$success-color: rgba(82, 196, 26, 1);
// $processing-color:;
$error-color: rgba(245, 34, 45, 1);
// $warning-color:;
// $normal-color:;
// $disabled-color-dark:;
$background-color-base: rgba(255, 255, 255, 1);
// $border-color-base:;
// $btn-primary-color:;
